<html>
    <body>
        
        <header>
            <h1>Twitter</h1>
            <input type="search" placeholder="Search here"/>
            <ul>
                <li><a href="/edituserform">Edit profile</a></li>
                <li><a href="/edituserform">Change Password</a></li>
                <li><a>Logout</a></li>
            </ul>
            <ul>
                <li> <a href="/listuser">list of all user</a></li>
                <li> <a href="/registeruser">Login/Signup</a></li>
            </ul>
        </header>
        <section>
            <h4>username:</h4>
        </section>
        <section>
            <input type="box" name="box" placeholder="Tweet Box"/>
            <input type="submit" placeholder="Update" value="Update"/>
        </section>
        <section>
            <h3> <%=msg %></h3>
        </section>
    </body>
</html>